doctype html
html
    head
      title search
      script(src="/index.js")
    body

      h1 百度一下，你就知道

        input(type="text", placeholder="Please input the word you want to search" id="key")
        input(type="submit" id="btn" value="百度一下")
      #result



